@font-face {
  font-family: "Overpass";
  src: url("Overpass/Overpass.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("Overpass/Overpass-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Fira Code";
  src: url("FiraCode.ttf") format("truetype");
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  --font-family: "Overpass", sans-serif;
  --transition-duration: 0;
  --code-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background: #fff6e0;
  color: #1d1315;
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

html.transitions {
  --transition-duration: 125ms;
}

html.dark img:not(.no-dark-shadow), html.dark svg:not(.no-dark-shadow) {
  filter: drop-shadow(0 0 1px white);
}

button {
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

pre, code {
  font-family: "Fira Code", monospace !important;
  font-weight: 500;
}

.UiMain {
  min-height: 100%;
  padding-top: max(5rem, calc(50vh - 300px));
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .UiMain {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.UiMainGoldList {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.UiMainGold:nth-child(1) {
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 70%;
  width: 3rem;
}

.UiMainGold:nth-child(2) {
  position: absolute;
  z-index: 0;
  top: 80%;
  left: 70%;
  width: 7rem;
}

.UiMainGold:nth-child(3) {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 90%;
  width: 9rem;
}

.UiMainGold:nth-child(4) {
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 20%;
  width: 9rem;
  opacity: 0.05;
}

.UiMainGold:nth-child(5) {
  position: absolute;
  z-index: 0;
  top: 70%;
  left: 20%;
  width: 3rem;
}

.UiMainGold:nth-child(6) {
  position: absolute;
  z-index: 0;
  top: 10%;
  left: 10%;
  width: 6rem;
}

.UiMainGold:nth-child(7) {
  position: absolute;
  z-index: 0;
  top: 10%;
  left: 80%;
  width: 5rem;
}

.UiMainGold:nth-child(8) {
  position: absolute;
  z-index: 0;
  top: 60%;
  left: 40%;
  width: 4rem;
}

.UiMainGold {
  user-select: none;
  opacity: 0.1;
}

.UiMainGold:hover {
  opacity: 0.5;
}

.UiMainGold:active {
  opacity: 1;
}

.UiMainLogo {
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.UiMainLogo img {
  margin-bottom: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
}

.UiMainTitle {
  z-index: 10;
  margin: 0 auto;
  margin-top: 0.5rem;
  max-width: 30ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.UiMainCode {
  z-index: 10;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 500px;
  width: 100%;
  min-height: 117px !important;
}

.UiMainButtons {
  z-index: 10;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: calc(500px + 1rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 48px;
  grid-gap: 1rem;
}

.UiMainDownloadWrapper {
  position: relative;
  max-width: calc(500px + 1rem);
  width: 100%;
  margin: 0 auto;
}

.UiMainButtonDownloadOrWrapper {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #7D2E34;
  border-top: none;
  height: 30px;
}

.UiMainButtonDownloadUkrInstall {
  font-size: 0.9rem;
  color: #7D2E34;
}

.UiMainButtonDownloadUkrInstall a {
  color: #7D2E34;
}

@media (max-width: 768px) {
  .UiMainButtons {
    margin-top: 0.5rem;
    grid-template-columns: 1fr 48px;
    grid-gap: 0.5rem;
  }
}

.UiMainButton {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7D2E34;
  color: white;
  border: 4px solid #7D2E34;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.UiMainButton svg {
  height: 1rem;
}

.UiMainButton:hover {
  background: #1d1315;
  color: white;
  border: 4px solid #1d1315;
  cursor: pointer;
}

.UiMainButton:active {
  background: black;
  color: white;
  border: 4px solid black;
}

.UiMainButton.outline {
  background: transparent;
  border: 4px solid #7D2E34;
  color: #7D2E34;
}

.UiMainButton.outline:hover {
  background: #1d1315;
  color: white;
  border: 4px solid #1d1315;
  cursor: pointer;
}

.UiMainButton.outline:active {
  background: black;
  color: white;
  border: 4px solid black;
}

.UiMainButton.more {
  width: 3rem;
  min-width: 3rem;
}

.download-outside {
  z-index: 1;
  margin-top: 0.5rem;
  margin-bottom: 30px;
  display: none;
}

.download-inside .UiMainButtonDownloadOrWrapper {
  height: 0;
  overflow: hidden;
  bottom: 0;
}

.download-inside:hover .UiMainButtonDownloadOrWrapper {
  height: 30px;
  bottom: -30px;
}

@media (max-width: 768px) {
  .download-inside {
    display: none;
  }

  .download-outside {
    display: flex;
  }
}

[data-navigation-menu-toggle="true"]:not(.active) [data-close-icon=true] {
  display: none;
}

[data-navigation-menu-toggle="true"].active [data-menu-icon=true] {
  display: none;
}

.UiMainFooter {
  z-index: 2;
  margin: 0 auto;
  margin-top: 4rem;
  color: #7D2E34;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: max(0.5rem, min(1vw, 1rem));
}

.UiMainFooter img {
  margin-top: 0.25rem;
  margin-right: calc(1rem + 1vw);
  height: 1em;
  object-fit: contain;
}

.circled {
  position: relative;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: inline-block;
  font-size: 0.6rem;
  transform: translateY(-0.1rem);
  color: #fff6e0;
}

.circled:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #7D2E34;
  border: 1px solid currentColor;
  z-index: -1;
}

code {
  font-family: "Fira Code", monospace;
  font-weight: 500;
}

@property --a {
  syntax: "<angle>";
  inherits: true;
  initial-value: 30deg;
}

@property --b {
  syntax: "<angle>";
  inherits: true;
  initial-value: 120deg;
}

@property --c {
  syntax: "<angle>";
  inherits: true;
  initial-value: 150deg;
}

@property --d {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

@property --e {
  syntax: "<angle>";
  inherits: true;
  initial-value: 210deg;
}

@property --f {
  syntax: "<angle>";
  inherits: true;
  initial-value: 300deg;
}

@property --g {
  syntax: "<angle>";
  inherits: true;
  initial-value: 330deg;
}

@property --x {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --color-1 {
  syntax: "<color>";
  inherits: true;
}

@property --color-2 {
  syntax: "<color>";
  inherits: true;
}

.UiCodeBlock {
  position: relative;
  z-index: 0;
  border-radius: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  min-height: 69px;
  --a: 30deg;
  --b: 120deg;
  --c: 150deg;
  --d: 180deg;
  --e: 210deg;
  --f: 300deg;
  --g: 330deg;
  --x: 0deg;
  --color-1: #7D2E34;
  --color-2: #ffe173;
}

.UiCodeBlock:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: conic-gradient(
      from var(--x),
      var(--color-1),
      #0000 var(--a) var(--b),
      var(--color-2) var(--c) var(--d),
      #0000 var(--e) var(--f),
      var(--color-1) var(--g)
  );
  background-color: #1d1315;
  border: 2px solid #1d1315;
}

.UiCodeBlock .shiki {
  z-index: -1;
  padding: 1.5rem;
  border-radius: inherit;
  font-weight: 500;
  background-color: #1d1315 !important;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  overflow-x: auto;
}

.UiCodeBlock .shiki::-webkit-scrollbar {
  display: none;
}

.UiCodeBlock .shiki *,
.UiMainFooter {
  opacity: 0;
}

html.readyToAnimate .UiCodeBlock {
  animation: spin 2s cubic-bezier(0.4, 0.2, 0.2, 1);
}

html.readyToAnimate .UiCodeBlock .shiki * {
  animation: opacity 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

html.readyToAnimate .UiMainFooter {
  animation: opacity 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

html.animationsDone .UiCodeBlock .shiki *,
html.animationsDone .UiMainFooter {
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    --x: -360deg;
  }
  50% {
    --x: -150deg;
  }
  100% {
    --x: 0deg;
  }
}

.TsilNavigationMenu {
  position: fixed;
  z-index: 1003;
  top: calc(var(--menu-top) + 64px);
  left: calc(var(--menu-left) - 282px + 48px);
  background-color: #fff6e0;
  border: 4px solid #7D2E34;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 282px;
  animation: menu-open var(--transition-duration) ease-in-out;
  transform-origin: top right;
  color: #7D2E34;
}


@media (max-width: 768px) {
  .TsilNavigationMenu {
    top: calc(var(--menu-top) + 56px);
    left: calc(var(--menu-left) - calc(100% - 4rem) + 48px);
    width: calc(100% - 4rem);
  }
}

.TsilNavigationMenu:has(.TsilNavigationMenuItem:hover) {
  border-color: #1d1315;
  color: #1d1315;
}

.TsilNavigationMenu:has(.TsilNavigationMenuItem:active) {
  border-color: black;
  color: black;
}

@keyframes menu-open {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.TsilNavigationMenu[data-hidden=true] {
  display: none;
}

.TsilNavigationMenuItem {
  height: calc(3rem - 6px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all var(--transition-duration) ease-in-out;
  color: inherit;
}

.TsilNavigationMenuItem:hover {
  background: #1d1315;
  color: white;
  cursor: pointer;
}

.TsilNavigationMenuItem:active {
  background: black;
  color: white;
}

.UiMainDocsWrapper {
  position: relative;
}

.UiMainLeo {
  position: absolute;
  top: calc(100%);
  display: none;
  border-top: 8px solid transparent;
  z-index: 10;
}

.UiMainLeo img {
  width: 100%;
  object-fit: contain;
  border: 4px solid #7D2E34;
}

.UiMainLeo:hover img {
  border: 4px solid #1d1315;
}

.UiMainDocsWrapper:hover .UiMainLeo {
  display: block;
}

/*
.UiMainButton {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7D2E34;
  color: white;
  border: 4px solid #7D2E34;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.UiMainButton svg {
  height: 1rem;
}

.UiMainButton:hover {
  background: #1d1315;
  color: white;
  border: 4px solid #1d1315;
  cursor: pointer;
}

.UiMainButton:active {
  background: black;
  color: white;
  border: 4px solid black;
}

.UiMainButton.outline {
  background: transparent;
  border: 4px solid #7D2E34;
  color: #7D2E34;
}

.UiMainButton.outline:hover {
  background: #1d1315;
  color: white;
  border: 4px solid #1d1315;
  cursor: pointer;
}

.UiMainButton.outline:active {
  background: black;
  color: white;
  border: 4px solid black;
}

 */